
* {

	padding: 0;
	margin: 0;
	text-decoration: none;

}


.header{

	font-family: cursive;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border-bottom: solid;
	margin-bottom: 30px;
	text-transform: uppercase;
	background-color: black;
	color: white;
	border-color: gray;

}

@media (min-width: 625px){.header h1{font-size: 2em;} .header h3{font-size: 1.17em}}
@media (max-width: 624px){.header{font-size: 70%}}
@media (max-width: 451px){.header{font-size: 50%}}











.main{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}


.textocobranca{

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	gap: 250px;

}

.textocobranca-p{

	padding-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	gap: 20px;

}

.textocobranca-cap{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid;
	border-color: black;
	border-radius: 15px;
	padding: 15px;
	gap: 15px;
	margin-top: 25px;

}

.textocobranca-copiaecola{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;

}

.textocobranca-copiaecola input{

	border: solid;
	border-color: black;
	padding: 5px;
	border-radius: 5px;


}

.textocobranca-copiaecola-btn{

	border-style: none;
	border: solid;
	border-color: white;
	color: white;
	background-color: black;
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;

}

.textocobranca-copiaecola-btn:hover{

	border-color: gray;

}






.textocobranca-qrcode{

	width: 450px;
	height: auto;

}

